@font-face {
    font-family: 'Krungthep';
    /*a name to be used later*/
    src: url('Fonts/Krungthep.ttf');
    /*URL to font*/
}

@font-face {
    font-family: 'HelveticaNeueBOLD';
    /*a name to be used later*/
    src: url('Fonts/HelveticaNeueLTStd-Bd.otf');
    /*URL to font*/
}

@font-face {
    font-family: 'roboto-regular';
    /*a name to be used later*/
    src: url('Fonts/Roboto-Regular.ttf');
    /*URL to font*/
}

@font-face {
    font-family: 'roboto-thin';
    /*a name to be used later*/
    src: url('Fonts/Roboto-Thin.ttf');
    /*URL to font*/
}

@font-face {
    font-family: 'roboto-thin-italic';
    /*a name to be used later*/
    src: url('Fonts/Roboto-ThinItalic.ttf');
    /*URL to font*/
}

body{
    background-color: black;
    width: 100%;
    display: grid;
    min-height: 100vh;
    margin: 0px;
    overflow-y: scroll;
}

main{
    display: flex;
    justify-content: center;
}

h1{
    font-family: HelveticaNeueBOLD;
    text-align: left;
    font-style: normal;
    font-size: 50px;
    color: white;
    line-height: normal;
}

h2{
    font-family: Krungthep;
    font-size: 20px;
    margin: 0px;
}

.header{
    align-items: center;
    text-align: center;
    border-bottom-style: solid;
    border-color: white;
    display: flex;
    max-height: 130px;
    background-color: black;
    z-index: 2;
}

.overlap{
    margin: auto;
    width: auto;
    position: relative;
    padding-top: 10px;
}

.logo{
    position: relative;
}

.icon{
    max-width: 110px;
    max-height: 120px;
    margin: auto auto 0 auto;
}

.applink{
    color: white;
    font-family: roboto-regular;
    font-size: 14px;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.applink:hover{
    transition-timing-function: ease-in;
    transition-duration: 50ms;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.icon:hover{
    max-width: 120px;
    max-height: 120px;
    transition-timing-function: ease-in-out;
    transition-duration: 400ms;
}

.applist{
    display:inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(0px, 1fr));
    min-width: 40%;
    max-width: 80%;
    margin: auto;
    margin-top: 0px;
    background-color: black;
    opacity: 0.8;
    padding: 10px;
}

.link-text{
    text-decoration: none;
    font-style: normal;
    font-size: 15px;
    padding-bottom: 0px;
    text-align: center;
}

.sorting {
    max-width: 150px;
    margin: auto;
    padding: auto;
    position: relative;
    top: -80px;
    left: -50px;
    color: white;
    display: block;
    padding: 5px;
}

.sorting-link {
    text-decoration: underline;
    font-family: Krungthep;
    color: white;
}

.sorting-title {
    font-family: Krungthep;
    margin: 0px;
}

footer{
    min-height: 50px;
    max-height: 100px;
    padding-left: 5%;
    padding-right: 5%;
    border-top-style: solid;
    align-items: end;
    margin-top: auto;
    padding-top: 10px;
    background-color: black;
    border-color: white;
}

.footer-link{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: Krungthep;
}

.footer-links{
    padding-bottom: 0px;
    display: inline;
}

.footer-text{
    font-family: roboto-thin;
    font-size: 12px;
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: right;
    text-justify: center;
    margin: 0px;
    color: white;
}