@font-face {
    font-family: 'Krungthep';
    /*a name to be used later*/
    src: url('Fonts/Krungthep.ttf');
    /*URL to font*/
}

@font-face {
    font-family: 'HelveticaNeueBOLD';
    /*a name to be used later*/
    src: url('Fonts/HelveticaNeueLTStd-Bd.otf');
    /*URL to font*/
}

@font-face {
    font-family: 'roboto-regular';
    /*a name to be used later*/
    src: url('Fonts/Roboto-Regular.ttf');
    /*URL to font*/
}

body{
    font-family: roboto-regular;
    color: white;
    display: grid;
    min-height: 100vh;
}

main{
    display: flex;
    justify-content: center;
}

h1{
    font-family: HelveticaNeueBOLD;
    font-style: normal;
    font-size: 50px;
}

h2{
    font-family: Krungthep;
    font-size: 20px;
    margin: 0px;
}

.header{
    align-items: center;
    text-align: center;
    border-bottom-style: solid;
    display: flex;
    max-height: 130px;
}

.overlap{
    margin: auto;
    width: auto;
    position: relative;
    padding-top: 10px;
}

.logo{
    position: relative;
}

.icon{
    width: 125px;
    margin: auto auto 0 auto;
}

.applink{
    color: white;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.applist{
    display:inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    width: 80%;
    margin: auto;
    margin-top: 0px;
    justify-content: center;
}

.link-text{
    text-decoration: none;
    font-style: normal;
    font-size: 15px;
    padding-bottom: 50px;
    text-align: center;
}

.sorting{
    display:block;
    max-width:150px;
    margin: auto;
    padding: auto;
    position: relative;
    top: -80px;
    left: -50px;
}

.sorting-link{
    text-decoration: underline;
    font-family: Krungthep;
}

footer{
    min-height: 50px;
    padding-left: 5%;
    font-family: krungthep;
    border-top-style: solid;
    align-items: end;
    margin-top: auto;
    padding-top: 20px;
}

.footer-link{
    color: white;
    text-decoration: none;
}